/*  Main.css
    Ullmannite.ml
    Tuesday, 15 September, 2015
    Alexander Rhett Crammer  */

/* Structure */
body {
  background-color: #fefefe;
  font-family: "Helvetica Neue";
  font-weight: 200;
}
